#intro
  h1 Just a Little More About Me.
    //- hr
  p My goal is to be a full-stack javascript developer. I enjoy working on back-end apps as well as front-end. I started learning to code in the summer before my sophomore year at high school. Game development really caught my eye that year since I was a PC gamer at the time. I've always been self-driven to learn everything I need to start developing useful apps that I too can benefit from. 
  p things to add... 
  p online courses i've taken,
  p when i got into programming,
  p how i started,
  p what i do now to improve
  p my strengths
