extends extends/layout

block content
  .search.row
    input(type="text", name="search", placeholder="search").col
    button.col
      h3 Search
  .idea-container.row
    each val, index in ideaArray
      .card.col
        .title #{val.title}
        .desc #{val.description}
  //- modifie display with jquery
  //- get local offline version of jquery minified
  //- 
  //-
  //- also make a delete idea button for each card.
  //-   .card.col
  //-     .title Hello Burger
  //-     .desc A talking burger says hello.
  //-   .card.col
  //-     .title Hello Burger
  //-     .desc A talking burger says hello.
  //-   .card.col
  //-     .title Hello Burger
  //-     .desc A talking burger says hello.
  //- .idea-container.row
  //-   .card.col
  //-     .title Hello Burger
  //-     .desc A talking burger says hello.A talking burger says hello.A talking burger says hello.A talking burger says hello.A talking burger says hello.
  //-   .card.col
  //-     .title Hello Burger
  //-     .desc A talking burger says hello.
  //-   .card.col
  //-     .title Hello Burger
  //-     .desc A talking burger says hello.
  //- 
  
