extends extends/layout.pug

block content
  form(method="post", action="/ideapost")
    h2 Video Title
    input(type="text", id="name", name="title", placeholder="Making an Iron Golem").row
    h2 Description
    textarea(type="text", id="description", name="description", placeholder="This is a minecraft video on how to make an iron golem.").row
    button(type="submit", name="submit").row 
      .col
        h3 Done
