extends extends/layout.pug

block content
  h2.title Login
  form
    h2 Username
    input(type="text", id="username", name="username").row
    h2 Password
    input(type="password", id="Password", name="password").row
    button(type="submit", name="submit").row 
      .col
        h3 Register
