header
  .left-header  
    h1 Need a web developer? You got one!
    h2 
      include nav.pug
  .right-header
    .profile
      table
        th(colspan='2')
          img
        tr
          td 
            span.det Email: 
          td 
            p example@exmpl.com
        tr
          td
            span.det Location: 
          td Illinois
        tr
          td(colspan='2')
            span.det Skills: 
            span.skillTag Javascript 
            span.skillTag OOP 
            span.skillTag Jquery 
            span.skillTag AJAX 
            span.skillTag DOM 
            span.skillTag HTML5 
            span.skillTag CSS 
            span.skillTag SASS 
            span.skillTag Node.JS 
            span.skillTag Express 
            span.skillTag MongoDB 
            span.skillTag Pug 
            span.skillTag Cookies 
            span.skillTag Github 
            span.skillTag Git 
          
    
