nav
  ul.row
    if locals.username
      li
        a(href="/logout").col logout
    else 
      
      li
        a(href="/login").col login
    li
      a(href="/ideas").col Ideas
    
      
    
